# App Settings
PORT=3000
CHECK_INTERVAL="45000"
REQUEST_TIMEOUT="5000"

# Webhook(s) to send the Status updates to when something is down or up etc.
DISCORDWEBHOOK_MEMBERS_MESSAGE=""
DISCORDWEBHOOK_MEMBERS_URL=""
DISCORDWEBHOOK_MAIN_URL=""
DISCORDWEBHOOK_MAIN_MESSAGE=""